* {
  text-decoration: none;
  box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
    background: -webkit-linear-gradient(left, #250e0e, #ab212a);
    background: linear-gradient(to right, #6e282b, #ab2121);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 15px;
}
header, main { 
    width: 100%;
    display: block;
    margin: 0 auto;
}

.header { 
  padding: 5px;
  width: 100%;
  height: 100px;
  background-color: rgb(218, 218, 218);
}
.header {
  text-align: center;
  line-height: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 20px;
}
.header a{
  text-decoration: none; 
  font-family: Luminari, fantasy;
  font-size: 45px;
  color: #6d1818;
}
.title {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 24px;
}
.logo{
  margin-top:25px;
}

#navbar {
  overflow: hidden;
  background-color: #ffffff;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  padding: 16px;
}

.topnav {
  overflow: hidden;
  background-color: #811821;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ac2020;
  color: rgb(242, 242, 242);
}

.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .header { 
    height: 80px;
  }
  .header a {
    font-size: 27px;
    line-height: 80px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}	

/* para la tabla de asistencia */
tbody tr:nth-child(even){background-color: #813239;}
tbody tr:nth-child(odd){background-color: #a63f3f;}

tbody tr:hover {opacity: 0.9;}