@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

h1{
  font-size: 50px;
  padding: 2%;
  color: #000000;
  text-transform: uppercase;
  font-weight:400;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 15px;
}
/* section{
  background-color: black;
} */
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background: linear-gradient(rgba(224, 224, 224, 0.429),rgba(134, 134, 134, 0.429));
  margin: 20px 20px;
 }
.tbl-content{
  height:400px;
  overflow-x:auto;
  margin: 20px 20px;
  /* border: 1px solid rgba(255,255,255,0.3); */
}
th{
  padding: 20px 15px;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  color: #000000;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: center;
  vertical-align:middle;
  font-weight: 300;
  font-size: 14px;
  color: #000000;
  border-bottom: solid 2px rgba(255,255,255,0.1);
}


::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

section {
  overflow-x:hidden;
}
.slideInRight {
  animation-name: slideInRight;
} 
.slideInDown {
  animation-name: slideInDown;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 900px) {
  section{
    margin: 5px;
  }
  th{
    padding: 8px 2px;
    font-size: 11px;
  }
  td{
    padding: 8px;
    font-size: 10px;
  }
  h1 {
    font-size: 18px;
  }
}